.colors {
    display: flex;
    justify-content: space-between;
}

.colors__colorContainer {
    cursor: pointer;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
    min-width: 50%;
    margin: auto;
    outline: 1px solid black;
}
