.itemContainer{
    border:1px solid black;
    width: 100%;
    max-width: 200px;
    min-height: 200px;
}

.itemContainer__image{
    outline: 1px solid red;
    width: 100%;
    object-fit: contain;
    min-height: 100px;
}

.itemContainer__text{
    
}