.itemContainer{
    cursor: pointer;
    /* border:1px solid black; */
    width: 100%;
    max-width: 200px;
    min-height: 200px;
    margin:20px 
}

.itemContainer__image{
    /* outline: 1px solid red; */
    width: 100%;
    object-fit: cover;
    /* min-height: 100px; */
}

.itemContainer__text{
    display:flex ;
    flex-direction: column;
}